# Force text files to use LF
* text=auto eol=lf

# Treat .ps1 as text on Windows
*.ps1 text eol=crlf

# Ensure markdown files are treated as text
*.md text

# C# files
*.cs text
*.sln text
*.csproj text
